@let loading = isLoading();

<div class="flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div
    style="
      border-radius: 56px;
      padding: 0.3rem;
      background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
    "
  >
    <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
      <div class="text-center mb-8">
        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
          {{ 'AUTH.RESET_PASSWORD' | translate }}
        </div>
        <span class="text-muted-color font-medium">{{ 'AUTH.ENTER_YOUR_EMAIL_TO_CONTINUE' | translate }}</span>
      </div>

      <form (submit)="onSubmit()" [formGroup]="form" class="md:w-[30rem]">
        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">{{
          'AUTH.EMAIL_LABEL' | translate
        }}</label>
        <input
          pInputText
          id="email1"
          formControlName="email"
          type="email"
          [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate"
          class="w-full mb-2"
        />

        @let mailInput = form.controls['email'];
        @if (mailInput?.invalid && mailInput?.touched && mailInput?.dirty) {
          <div class="text-red-500 flex flex-col mb-4 text-sm">
            @if (mailInput?.errors?.['required']) {
              <span>{{ 'AUTH.EMAIL_REQUIRED_ERROR' | translate }}</span>
            }
            @if (mailInput?.errors?.['email']) {
              <span>{{ 'AUTH.EMAIL_INVALID_ERROR' | translate }}</span>
            }
          </div>
        }

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
          <span class="font-medium ml-2">
            {{ 'AUTH.BACK_TO_TEXT' | translate }}
            <a class="cursor-pointer text-primary" [routerLink]="['/auth/sign-in']">{{ 'AUTH.SIGN_IN' | translate }}</a>
          </span>
        </div>
        <p-button
          [label]="'AUTH.SEND_BUTTON' | translate"
          styleClass="w-full"
          type="submit"
          [disabled]="form.invalid"
          [loading]="loading"
        ></p-button>
      </form>
    </div>
  </div>
</div>
