<div class="relative w-full flex items-center flex-col">
  <p-inputgroup class="absolute z-10 top-2 !w-[80%]">
    <input pInputText placeholder="Address" [ngModel]="address()" (ngModelChange)="address.set($event)" />
    <p-inputgroup-addon>
      <p-button icon="pi pi-search" severity="secondary" variant="text" (click)="search()" />
    </p-inputgroup-addon>
  </p-inputgroup>

  <app-map class="flex w-full h-[28rem]" [center]="mapCenter()" [zoom]="10">

    <app-map-marker
      [position]="markerPosition()!"
      [draggable]="true"
      (dragEnd)="onMarkerDrag($event)"
      (markerClick)="null"
    ></app-map-marker>
  </app-map>
</div>
