<p-confirm-dialog />

@let listing = item();
<h1 class="font-semibold text-3xl mb-4">
  {{ listing?.name }}
</h1>

@if (mode() === Mode.Edit) {
  <div class="card flex flex-wrap justify-between content-center gap-4">
    <div class="flex flex-wrap w-full sm:w-fit gap-4">
      <p-button
        class="w-full sm:w-auto"
        styleClass="w-[inherit]"
        [label]="'LISTINGS.ACTIONS.ADD_OBJECT' | translate"
        icon="pi pi-plus"
        (onClick)="openObjectsSelector($event)"
      />
      <p-button
        class="w-full sm:w-auto"
        styleClass="w-[inherit]"
        [label]="'LISTINGS.ACTIONS.DELETE_LISTING' | translate"
        severity="danger"
        icon="pi pi-trash"
        (onClick)="deleteListing()"
      />
    </div>
    <rx-link-switch
      [publicLink]="listing?.publicLink"
      (publicLinkChange)="changeAvaliability($event?.available)"
      [disabled]="loading()"
    ></rx-link-switch>
  </div>
}

@if (listing?.propertyObjects | notEmpty; as objects) {
  @for (pObject of objects; track pObject.id) {
    <p-divider @slide align="left" type="solid" class="font-bold">{{ $index + 1 }}</p-divider>
    <rx-detail @slide class="block" [propertyObject]="pObject">
      @if (mode() === Mode.Edit) {
        <p-divider align="left" type="solid" class="md:col-span-2"></p-divider>
        <div class="flex gap-4 justify-between">
          <p-button
            [label]="'LISTINGS.ACTIONS.DELETE_OBJECT' | translate"
            severity="danger"
            icon="pi pi-trash"
            (onClick)="deleteItem(pObject.id)"
          />
        </div>
      }
    </rx-detail>
  }
} @else {
  Empty
}

<p-popover
  #objectsSelector
  (onShow)="objectSelectShown.set(true)"
  (onHide)="objectSelectShown.set(false)"
  styleClass="w-[300px]"
>
  <rx-select
    [fetcher]="catalogFetchMethod"
    [itemTpl]="itemTemplate"
    [mapToSelect]="catalogMapToSelect"
    [disabledIds]="listing?.propertyObjectIds ?? []"
    [open]="objectSelectShown()"
    (valueClick)="onObjectClick($event)"
  ></rx-select>
</p-popover>

<ng-template #itemTemplate let-item let-disabled="disabled">
  <div class="row" [class.disabled]="disabled">{{ item.label }}</div>
</ng-template>
