@let mItem = item();
<ng-container>
  @if (root() && mItem?.visible !== false) {
    <div class="layout-menuitem-root-text">{{ mItem?.label }}</div>
  }
  @if ((!mItem?.routerLink || mItem?.items) && mItem?.visible !== false) {
    <a
      [attr.href]="mItem?.url"
      (click)="itemClick($event)"
      [ngClass]="mItem?.styleClass"
      [attr.target]="mItem?.target"
      tabindex="0"
      pRipple
      >
      <i [ngClass]="mItem?.icon" class="layout-menuitem-icon"></i>
      <span class="layout-menuitem-text">{{ mItem?.label }}</span>
      @if (mItem?.items) {
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
      }
    </a>
  }
  @if (mItem?.routerLink && !mItem?.items && mItem?.visible !== false) {
    <a
      (click)="itemClick($event)"
      [ngClass]="mItem?.styleClass"
      [routerLink]="mItem?.routerLink"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="
        mItem?.routerLinkActiveOptions || { paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }
      "
      [fragment]="mItem?.fragment"
      [queryParamsHandling]="mItem?.queryParamsHandling"
      [preserveFragment]="mItem?.preserveFragment"
      [skipLocationChange]="mItem?.skipLocationChange"
      [replaceUrl]="mItem?.replaceUrl"
      [state]="mItem?.state"
      [queryParams]="mItem?.queryParams"
      [attr.target]="mItem?.target"
      tabindex="0"
      pRipple
      >
      <i [ngClass]="mItem?.icon" class="layout-menuitem-icon"></i>
      <span class="layout-menuitem-text">{{ mItem?.label }}</span>
      @if (mItem?.items) {
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
      }
    </a>
  }

  @if (mItem?.items && mItem?.visible !== false) {
    <ul [@children]="submenuAnimation">
      @for (child of mItem?.items; track child; let i = $index) {
        <li rx-menuitem [item]="child" [index]="i" [parentKey]="key()" [class]="child['badgeClass']"></li>
      }
    </ul>
  }
</ng-container>
