@let pObject = propertyObject();
<div class="flex flex-col md:flex-row md:gap-4 w-full">
  <div class="block md:hidden">
    <ng-container [ngTemplateOutlet]="headerTpl"></ng-container>
  </div>
  <div class="md:w-[50%] h-fit mb-4 md:sticky md:top-24">
    <p-galleria
      class="border-transparent!"
      [value]="imagesTemp()"
      [responsiveOptions]="galleriaResponsiveOptions"
      [numVisible]="5"
    >
      <ng-template #item let-item>
        <img [src]="item.image" class="w-full h-[500px] object-contain" alt="image" />
      </ng-template>
      <ng-template #thumbnail let-item>
        <img [src]="item.thumbnail" class="h-[100px] object-contain" alt="thumbnail" />
      </ng-template>
    </p-galleria>
  </div>
  <div class="md:w-[50%] xl:w-[60%]">
    <div class="hidden md:block">
      <ng-container [ngTemplateOutlet]="headerTpl"></ng-container>
    </div>
    <div class="card">
      <ul class="text-lg">
        <li>
          <span class="text-gray-500">{{ 'CATALOG.TABLE.HEADERS.TYPE' | translate }}: </span
          ><span>{{ 'FORM.PROPERTIES.PROPERTY_TYPE.' + pObject?.propertyType | translate }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'CATALOG.TABLE.HEADERS.STATUS' | translate }}: </span
          ><p-tag
            class="h-6"
            [value]="'FORM.PROPERTIES.PROPERTY_STATUS.' + pObject?.status | translate"
            [severity]="getSeverity(pObject?.status || '')"
          ></p-tag>
        </li>
        <li>
          <span class="text-gray-500">{{ 'CATALOG.TABLE.HEADERS.ZONING' | translate }}: </span
          ><span>{{ 'FORM.PROPERTIES.ZONING_TYPE.' + pObject?.zoningType | translate }}</span>
        </li>
        <li>
          <span class="truncate text-wrap">
            @let a = pObject?.address;
            <span class="text-gray-500">{{ 'CATALOG.TABLE.HEADERS.ADDRESS' | translate }}: </span>
            {{ a?.city }}, {{ a?.road }}, <span class="text-nowrap">№ {{ a?.house }}</span
            >,
            @if (a?.apartment) {
              <span class="text-nowrap">{{ 'PREFIXES.APARTMENT' | translate }} {{ a?.apartment }}</span>
            }
          </span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'CATALOG.TABLE.HEADERS.PRICE' | translate }}: </span
          ><a>{{ pObject?.price?.value || '—' }} {{ getCurrencySymbol((pObject?.price)!.currency) }}</a>
        </li>
      </ul>
      <ng-content></ng-content>
    </div>

    <!-- Comment -->
    @if (pObject?.comment; as comment) {
      <div class="card">
        <h5>{{ 'FORM.LABELS.COMMENT' | translate }}</h5>
        <span>{{ comment }}</span>
      </div>
    }

    <!-- Specifics -->
    @let specifics = pObject?.specifics;
    <div class="card">
      <h5>{{ 'CATALOG.LABELS.ABOUT' | translate }}</h5>
      <ul class="columns-1 sm:columns-2 gap-4 space-y-2">
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.AREA' | translate }}: </span><span>{{ pObject?.area || '—' }} m²</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.CURRENT_FLOOR' | translate }}: </span
          ><span>{{ specifics?.floor?.current || '—' }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.TOTAL_FLOORS' | translate }}: </span
          ><span>{{ specifics?.floor?.full || '—' }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.ROOMS' | translate }}: </span><span>{{ specifics?.rooms || '—' }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.HEATING' | translate }}: </span
          ><span>{{ specifics?.heating ? ('FORM.PROPERTIES.HEATING_TYPE.' + specifics?.heating | translate) : '—' }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.RENOVATION' | translate }}: </span
          ><span>{{
            specifics?.renovation ? ('FORM.PROPERTIES.RENOVATION_STATUS.' + specifics?.renovation | translate) : '—'
          }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.FURNISHED' | translate }}: </span
          ><span>{{
            specifics?.furnished ? ('FORM.PROPERTIES.FURNISHED_STATUS.' + specifics?.furnished | translate) : '—'
          }}</span>
        </li>
        <li>
          <span class="text-gray-500">{{ 'FORM.LABELS.KITCHEN' | translate }}: </span
          ><span>{{ specifics?.kitchen ? ('FORM.PROPERTIES.KITCHEN_TYPE.' + specifics?.kitchen | translate) : '—' }}</span>
        </li>
      </ul>
    </div>

    <!-- Options -->
    @if (optionsArray() | notEmpty; as options) {
      <div class="card">
        <h5>{{ 'CATALOG.LABELS.OPTIONS' | translate }}</h5>
        <ul class="columns-1 sm:columns-2 gap-4 space-y-2">
          @for (group of options; track group.category) {
            <li class="pb-4 break-inside-avoid">
              <strong>{{ 'FORM.LABELS.' + group.category | camelToUpperSnake | translate }}</strong>
              <ul class="pl-4 pt-2 space-y-1 list-disc">
                @for (opt of group.values; track opt[0]) {
                  <li>
                    <span>{{ 'FORM.LABELS.' + opt[0] | camelToUpperSnake | translate }}</span>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>
    }

    <!-- Contact -->
    @if (pObject?.contact) {
      <div class="card">
        <h5>{{ 'FORM.LABELS.CONTACT' | translate }}</h5>
        <ul class="space-y-1">
          <li>
            <span class="text-gray-500">{{ 'FORM.LABELS.CONTACT_NAME' | translate }}: </span
            ><span>{{ pObject?.contact?.name || '—' }}</span>
          </li>
          <li>
            <span class="text-gray-500">{{ 'FORM.LABELS.CONTACT_PHONE' | translate }}: </span
            ><span>{{ pObject?.contact?.phone | worldPhoneMask }}</span>
          </li>
        </ul>
      </div>
    }
  </div>
</div>

<ng-template #headerTpl>
  @if (pObject?.name) {
    <h1 class="font-semibold text-3xl mb-2">{{ pObject?.name }}</h1>
    <h2 class="text-xl text-surface-500 mb-4">
      {{ 'FORM.PROPERTIES.PROPERTY_TYPE.' + pObject?.propertyType | translate }} {{ pObject?.area || 0 }} m² —
      {{ pObject?.price?.value || 0 }}
      {{ getCurrencySymbol((pObject?.price)!.currency) }}
    </h2>
  } @else {
    <h1 class="font-semibold text-3xl mb-4">
      {{ 'FORM.PROPERTIES.PROPERTY_TYPE.' + pObject?.propertyType | translate }} {{ pObject?.area || 0 }} m² —
      {{ pObject?.price?.value || 0 }}
      {{ getCurrencySymbol((pObject?.price)!.currency) }}
    </h1>
  }
</ng-template>
