<div class="p-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <!-- Old password -->
    <rx-input-wrapper
      [control]="form.get('oldPassword')!"
      [label]="'AUTH.OLD_PASSWORD_LABEL' | translate"
      id="oldPassword"
      class="col-span-full"
    >
      <p-password
        class="w-full"
        id="oldPassword"
        formControlName="oldPassword"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </rx-input-wrapper>

    <!-- New password -->
    <rx-input-wrapper
      [control]="form.get('newPassword')!"
      [label]="'AUTH.NEW_PASSWORD_LABEL' | translate"
      id="newPassword"
      class="col-span-full"
    >
      <p-password
        class="w-full"
        id="newPassword"
        formControlName="newPassword"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </rx-input-wrapper>

    <!-- New password confirmation -->
    <rx-input-wrapper
      class="w-full md:col-span-2"
      [control]="form.get('newPasswordConfirmation')!"
      [label]="'AUTH.REPEAT_NEW_PASSWORD_LABEL' | translate"
      id="objects"
    >
      <p-password
        id="newPasswordConfirmation"
        formControlName="newPasswordConfirmation"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </rx-input-wrapper>

    <!-- Buttons -->
    <div class="md:col-span-2 flex justify-end gap-2 mt-6 sticky bottom-0">
      <p-button
        [label]="'ACTIONS.CANCEL' | translate"
        type="button"
        (click)="onCancel()"
        class="backdrop-blur-[2px]"
        outlined
      />
      <p-button
        [label]="'ACTIONS.CHANGE' | translate"
        type="submit"
        class="p-button-primary backdrop-blur-[2px]"
        [disabled]="form.invalid"
      />
    </div>
  </form>
</div>
