<div class="p-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Password -->
    <rx-input-wrapper
      [control]="form.get('password')!"
      [label]="'AUTH.PASSWORD_LABEL' | translate"
      id="password"
      class="col-span-full"
    >
      <p-password
        class="w-full"
        id="password"
        formControlName="password"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </rx-input-wrapper>

    <!-- Password confirmation -->
    <rx-input-wrapper
      class="w-full md:col-span-2"
      [control]="form.get('passwordConfirmation')!"
      [label]="'AUTH.REPEAT_PASSWORD_LABEL' | translate"
      id="objects"
    >
      <p-password
        id="passwordConfirmation"
        formControlName="passwordConfirmation"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </rx-input-wrapper>

    <!-- Buttons -->
    <div class="md:col-span-2 flex justify-end gap-2 mt-6 sticky bottom-0">
      <p-button
        [label]="'ACTIONS.CANCEL' | translate"
        type="button"
        (click)="onCancel()"
        class="backdrop-blur-[2px]"
        outlined
      />
      <p-button
        [label]="'ACTIONS.CHANGE' | translate"
        type="submit"
        class="p-button-primary backdrop-blur-[2px]"
        [disabled]="form.invalid"
      />
    </div>
  </form>
</div>
