<div class="sm:p-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Name -->
    <rx-input-wrapper
      [control]="form.get('name')!"
      [label]="'FORM.LABELS.CONTACT_NAME' | translate"
      id="contactName"
      class="col-span-full"
    >
      <input
        id="contactName"
        pInputText
        type="text"
        formControlName="name"
        [pAutoFocus]="true"
        [placeholder]="'FORM.PLACEHOLDERS.CONTACT_NAME' | translate"
        class="w-full"
      />
    </rx-input-wrapper>

    <!-- Phone -->
    <rx-input-wrapper [control]="form.get('phone')!" [label]="'FORM.LABELS.CONTACT_PHONE' | translate" id="contactPhone">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-phone"></i>
        </p-inputgroup-addon>
        <input
          id="contactPhone"
          pInputText
          type="text"
          formControlName="phone"
          [placeholder]="'FORM.PLACEHOLDERS.CONTACT_PHONE' | translate"
          rxWorldPhoneMasks
          (valid)="validPhone($event)"
        />
      </p-inputgroup>
    </rx-input-wrapper>

    <!-- Additional Phone -->
    <rx-input-wrapper
      [control]="form.get('additionalPhone')!"
      [label]="'FORM.LABELS.ADDITIONAL_CONTACT_PHONE' | translate"
      id="additionalPhone"
    >
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-phone"></i>
        </p-inputgroup-addon>
        <input
          id="additionalPhone"
          pInputText
          type="text"
          formControlName="additionalPhone"
          [placeholder]="'FORM.PLACEHOLDERS.CONTACT_PHONE' | translate"
          rxWorldPhoneMasks
          (valid)="validAddPhone($event)"
        />
      </p-inputgroup>
    </rx-input-wrapper>

    <!-- Comment -->
    <rx-input-wrapper
      [control]="form.get('comment')!"
      [label]="'FORM.LABELS.COMMENT' | translate"
      id="additionalPhone"
      class="col-span-full"
    >
      <textarea pTextarea id="comment" formControlName="comment" [fluid]="true" rows="5"></textarea>
    </rx-input-wrapper>

    <!-- Buttons -->
    <div class="md:col-span-2 flex justify-end gap-2 mt-6 sticky bottom-0">
      <p-button
        [label]="'ACTIONS.CANCEL' | translate"
        type="button"
        (click)="onCancel()"
        class="backdrop-blur-[2px]"
        outlined
      />
      <p-button
        [label]="'ACTIONS.SAVE' | translate"
        type="submit"
        class="p-button-primary backdrop-blur-[2px]"
        [disabled]="form.invalid"
      />
    </div>
  </form>
</div>
