<p-fluid>
  <div class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">{{ 'PROFILE.INFO' | translate }}</div>

        <form class="flex flex-col gap-4" [formGroup]="userForm">
          @let isCompanyNameEditing = fieldEdititng() == FieldEditing.CompanyName;
          <rx-input-wrapper
            [control]="userForm.get('companyName')!"
            [label]="'PROFILE.COMPANY_NAME' | translate"
            id="companyName"
          >
            <p-inputgroup>
              <input
                pInputText
                id="companyName"
                type="text"
                formControlName="companyName"
                [class.p-disabled]="!isCompanyNameEditing"
              />

              @if (isCompanyNameEditing) {
                <p-inputgroup-addon>
                  <p-button
                    icon="pi pi-save"
                    severity="primary"
                    (onClick)="fieldEdititng.set(false); updateProfile()"
                    [disabled]="!userForm.get('companyName')?.dirty"
                  />
                </p-inputgroup-addon>
              }
              <p-inputgroup-addon>
                <p-button
                  [icon]="isCompanyNameEditing ? 'pi pi-times' : 'pi pi-pencil'"
                  [severity]="isCompanyNameEditing ? 'danger' : 'secondary'"
                  (onClick)="editProfile(FieldEditing.CompanyName)"
                />
              </p-inputgroup-addon>
            </p-inputgroup>
          </rx-input-wrapper>

          @let isEmailEditing = fieldEdititng() == FieldEditing.Email;
          <rx-input-wrapper [control]="userForm.get('email')!" [label]="'PROFILE.EMAIL' | translate" id="email">
            <p-inputgroup>
              <input pInputText id="email" type="text" formControlName="email" [class.p-disabled]="!isEmailEditing" />

              @if (isEmailEditing) {
                <p-inputgroup-addon>
                  <p-button
                    icon="pi pi-save"
                    severity="primary"
                    (onClick)="fieldEdititng.set(false); updateProfile()"
                    [disabled]="!userForm.get('email')?.dirty"
                  />
                </p-inputgroup-addon>
              }
              <p-inputgroup-addon>
                <p-button
                  [icon]="isEmailEditing ? 'pi pi-times' : 'pi pi-pencil'"
                  [severity]="isEmailEditing ? 'danger' : 'secondary'"
                  (onClick)="editProfile(FieldEditing.Email)"
                />
              </p-inputgroup-addon>
            </p-inputgroup>
          </rx-input-wrapper>

          @let isCompanyLogoEditing = fieldEdititng() == FieldEditing.CompanyLogo;
          <div class="flex flex-col gap-1">
            <label for="companyLogo" class="block text-sm font-medium text-gray-700">{{
              'PROFILE.COMPANY_LOGO' | translate
            }}</label>
            <div class="flex gap-1">
              <rx-avatar class="w-full h-56" formControlName="companyLogo" [readonly]="!isCompanyLogoEditing"></rx-avatar>
              <div class="flex flex-col gap-1">
                <p-button
                  [icon]="isCompanyLogoEditing ? 'pi pi-times' : 'pi pi-pencil'"
                  [severity]="isCompanyLogoEditing ? 'danger' : 'secondary'"
                  (onClick)="editProfile(FieldEditing.CompanyLogo)"
                />
                @if (isCompanyLogoEditing) {
                  <p-button
                    icon="pi pi-save"
                    severity="primary"
                    (onClick)="fieldEdititng.set(false); updateProfile()"
                    [disabled]="!userForm.get('companyLogo')?.dirty"
                  />
                }
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl" style="color: var(--p-red-500)">Danger zone</div>

        <p-button
          class="self-start"
          icon="pi pi-key"
          variant="text"
          [label]="'PROFILE.CHANGE_PASSWORD' | translate"
          severity="danger"
          (click)="openChangePasswordDialog()"
        ></p-button>

        <p-divider />

        <p-button
          class="self-start"
          icon="pi pi-trash"
          variant="text"
          [label]="'PROFILE.DELETE_ACCOUNT' | translate"
          severity="danger"
          (click)="openDeleteAccountDialog()"
        ></p-button>
      </div>
    </div>

    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">{{ 'PROFILE.ABOUT' | translate }}</div>
        <div>{{ 'PROFILE.DATE_ADDED' | translate }}: {{ user()?.dateAdded | date: 'dd.MM.y HH:mm' }}</div>
        <div>{{ 'PROFILE.ROLE' | translate }}: {{ user()?.role }}</div>

        <p-divider />

        <div class="flex flex-row justify-between items-center gap-4">
          <p-button
            icon="pi pi-sign-out"
            variant="text"
            [label]="'AUTH.TERMINATE' | translate"
            severity="danger"
            (click)="terminate()"
          ></p-button>
          <p-button icon="pi pi-sign-out" [label]="'AUTH.SIGN_OUT' | translate" severity="danger" (click)="logOut()"></p-button>
        </div>
      </div>
    </div>
  </div>
</p-fluid>
