<p-confirmDialog></p-confirmDialog>

<div class="relative h-full rounded-md overflow-hidden bg-(--surface-card)">
  <div class="flex justify-end w-full gap-4 px-4 py-3 absolute z-10 backdrop-brightness-50">
    <p-button [label]="'MAP.LOCATE' | translate" [outlined]="true" icon="pi pi-map-marker" (click)="updateLocation()" />
    <p-button
      [label]="'CATALOG.TABLE.BUTTONS.FILTERS' | translate"
      [outlined]="true"
      icon="pi pi-filter"
      (click)="filtersService.openFilters()"
      [badge]="filtersService.filtersCount().toString()"
    />
  </div>
  <rx-map
    class="flex w-full h-[51.4rem]"
    [zoom]="minMapZoom"
    [images]="mapImages"
    (currentBox)="onMapBoxChange($event)"
  ></rx-map>
</div>

<rx-catalog-map-drawer
  [open]="drawerOpen()"
  [item]="selectedItem()"
  [detailedItem]="detailedSelected()"
  (closed)="onDrawerClose()"
  (deleteRequested)="deleteItem($event)"
  (editRequested)="edit($event)"
  (addToListingRequested)="openAddToListingDialog($event)"
/>
