<p-menu #menu [popup]="true" [model]="actionItems"></p-menu>
<p-confirm-dialog />

<div class="card">
  @let tableData = tableDataS();
  <p-table
    #pTable
    (onEditComplete)="onEditComplete($event)"
    [scrollable]="true"
    [scrollHeight]="'calc(100vh - 19.4rem)'"
    [value]="tableData!.items"
    [paginator]="true"
    [loading]="loadingS()"
    [totalRecords]="tableData?.total || 0"
    [lazy]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="
      'CATALOG.TABLE.PAGINATOR.CURRENT_PAGE_REPORT'
        | translate: { first: '{first}', last: '{last}', totalRecords: '{totalRecords}' }
    "
    (onPage)="pageChange($event)"
    [(selection)]="selectedItems"
    [customSort]="true"
    (sortFunction)="onSort($event)"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template #caption>
      <div class="flex justify-between gap-4">
        <p-button
          [label]="'CATALOG.TABLE.BUTTONS.ADD' | translate"
          [outlined]="true"
          icon="pi pi-plus"
          (click)="openItemDialog()"
        />
        <p-button
          [label]="'CATALOG.TABLE.BUTTONS.FILTERS' | translate"
          [outlined]="true"
          icon="pi pi-filter"
          (click)="onFiltersOpen()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="min-width: 4rem"><p-tableHeaderCheckbox /></th>
        <th style="min-width: 6rem">{{ 'CATALOG.TABLE.HEADERS.PHOTO' | translate }}</th>
        <th>{{ 'CATALOG.TABLE.HEADERS.TYPE' | translate }}</th>
        <th>{{ 'CATALOG.TABLE.HEADERS.ZONING' | translate }}</th>
        <th>{{ 'CATALOG.TABLE.HEADERS.ADDRESS' | translate }}</th>
        <th pSortableColumn="price">{{ 'CATALOG.TABLE.HEADERS.PRICE' | translate }} <p-sortIcon field="price" /></th>
        <th pSortableColumn="area">{{ 'CATALOG.TABLE.HEADERS.AREA' | translate }} <p-sortIcon field="area" /></th>
        <th style="min-width: 8rem">{{ 'CATALOG.TABLE.HEADERS.DATE' | translate }}</th>
        <th style="min-width: 10.5rem">{{ 'CATALOG.TABLE.HEADERS.STATUS' | translate }}</th>
        <th style="min-width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item" />
        </td>
        <td>
          <img [src]="item.photos[0]" [alt]="item.name" class="w-24 rounded" />
        </td>
        <td>{{ 'FORM.PROPERTIES.PROPERTY_TYPE.' + item.propertyType | translate }}</td>
        <td>{{ item.zoningType ? ('FORM.PROPERTIES.ZONING_TYPE.' + item.zoningType | translate) : '—' }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.price.value | number }} {{ item.price.currency }}</td>
        <td>{{ item.area }} m²</td>
        <td>{{ item.dateAdded | date: 'd MM y' }}</td>
        <td [pEditableColumn]="{ id: item.id, value: item.status }" pEditableColumnField="status" class="cursor-pointer">
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="statuses"
                [ngModel]="item.status"
                (ngModelChange)="onStatusChange($event, item.id)"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                [ngStyle]="{
                  'background-color': getStatusBackground(item.status),
                  'z-index': '5000',
                }"
              >
                <ng-template pTemplate="item" let-item>
                  <div class="flex items-center">
                    <p-tag [value]="item.label" [severity]="getSeverity(item.value)" />
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
            <ng-template #output>
              <p-tag
                [value]="'FORM.PROPERTIES.PROPERTY_STATUS.' + item.status | translate"
                [severity]="getSeverity(item.status)"
              />
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-button icon="pi pi-ellipsis-v" (click)="onActionClick($event, item)" severity="secondary" text rounded />
        </td>
      </tr>
    </ng-template>
    @if (selectedItems.length) {
      <ng-template #footer>
        <tr>
          <td colspan="8" class="text-right font-bold">
            {{ 'CATALOG.TABLE.FOOTER.SELECTED' | translate: { count: selectedItems.length } }}
          </td>
          <td colspan="3">
            <p-buttongroup class="flex justify-end">
              <p-button
                [label]="'CATALOG.TABLE.BUTTONS.ADD_TO_LISTING' | translate"
                icon="pi pi-plus"
                class="text-nowrap"
                outlined
                (onClick)="(null)"
              />
              <p-button
                severity="danger"
                [label]="'CATALOG.TABLE.BUTTONS.DELETE' | translate"
                icon="pi pi-trash"
                outlined
                (onClick)="confirmDeletion($event, selectedItems)"
              />
            </p-buttongroup>
          </td>
        </tr>
      </ng-template>
    }
  </p-table>
</div>
