<p-menu #menu [popup]="true" [model]="actionItems"></p-menu>
<p-confirm-dialog />

<div class="card">
  @let tableData = tableDataS();
  <p-table
    #pTable
    (onEditComplete)="onEditComplete($event)"
    [scrollable]="true"
    [scrollHeight]="'calc(100vh - 19.4rem)'"
    [value]="tableData!.items"
    [paginator]="true"
    [loading]="loadingS()"
    [totalRecords]="tableData?.total || 0"
    [lazy]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [(selection)]="selectedItems"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template #caption>
      <div class="flex justify-between gap-4">
        <p-button label="Add" [outlined]="true" icon="pi pi-plus" (click)="openItemDialog()" />
        <p-button label="Filters" [outlined]="true" icon="pi pi-filter" (click)="onFiltersOpen()" />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="min-width: 4rem"><p-tableHeaderCheckbox /></th>
        <th style="min-width: 6rem">Photo</th>
        <th>Type</th>
        <th>Zoning</th>
        <th>Address</th>
        <th>Price</th>
        <th>Area</th>
        <!-- <th>Rooms</th>
        <th style="min-width: 6rem">Floor</th> -->
        <th style="min-width: 8rem">Date</th>
        <th style="min-width: 10.5rem">Status</th>
        <th style="min-width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item" />
        </td>
        <td>
          <img [src]="item.photos[0]" [alt]="item.name" class="w-24 rounded" />
        </td>
        <td>{{ item.propertyType }}</td>
        <td>{{ item.zoningType }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.price.value | number }} {{ item.price.currency }}</td>
        <td>{{ item.area }} m^2</td>
        <!-- <td>{{ item?.specifies?.rooms || '-' }}</td>
        <td>{{ item?.specifies?.floor?.current || '-' }} / {{ item?.floor?.full || '-' }}</td> -->
        <td>{{ item.dateAdded }}</td>
        <td [pEditableColumn]="{ id: item.id, value: item.status }" pEditableColumnField="status" class="cursor-pointer">
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="statuses"
                [ngModel]="item.status"
                (ngModelChange)="onStatusChange($event, item.id)"
                optionLabel="label"
                optionValue="value"
                [ngStyle]="{
                  'background-color': getStatusBackground(item.status),
                }"
              >
                <ng-template pTemplate="item" let-item>
                  <div class="flex items-center">
                    <p-tag [value]="item.label" [severity]="getSeverity(item.value)" />
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
            <ng-template #output>
              <p-tag [value]="item.status" [severity]="getSeverity(item.status)" />
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-button icon="pi pi-ellipsis-v" (click)="onActionClick($event, item)" severity="secondary" text rounded />
        </td>
      </tr>
    </ng-template>
    @if (selectedItems.length) {
      <ng-template #footer>
        <tr>
          <td colspan="8" class="text-right font-bold">Selected {{ selectedItems.length }}</td>
          <td colspan="3">
            <p-buttongroup class="flex justify-end">
              <p-button label="Add to listing" icon="pi pi-plus" class="text-nowrap" outlined (onClick)="(null)" />
              <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="(null)" />
            </p-buttongroup>
          </td>
        </tr>
      </ng-template>
    }
  </p-table>
</div>
