<p-select
  [ngModel]="selected()"
  (ngModelChange)="onModelChange($event)"
  [options]="items()"
  appendTo="body"
  [virtualScroll]="true"
  [virtualScrollOptions]="scrollerOptions"
  dataKey="id"
  [loading]="loading()"
  (onShow)="onShow()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  [filter]="true"
  [emptyMessage]="emptyMessage()"
  [showClear]="true"
  class="flex items-center w-[inherit]"
>
  <ng-template #selectedItem let-item>
    {{ translateLabels() ? (item.label | translate) : item.label }}
  </ng-template>
  <ng-template #item let-item>
    {{ translateLabels() ? (item.label | translate) : item.label }}
  </ng-template>
  @if (withSearch()) {
    <ng-template #filter>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="search" />
      </p-inputgroup>
    </ng-template>
  }
</p-select>
