<p-menu #menu [popup]="true" [model]="actionItems"></p-menu>
<p-confirm-dialog />

<div class="card overflow-x-auto relative !p-0 !pb-2">
  @if (loadingS()) {
    <p-progressbar mode="indeterminate" [style]="{ height: '4px' }" class="w-[101%] h-1 top-0 left-[-4px] absolute" />
  }
  @let tableData = tableDataS();
  <p-table
    #pTable
    (onEditComplete)="onEditComplete($event)"
    [scrollable]="true"
    [scrollHeight]="'calc(100vh - 15.4rem)'"
    [value]="tableData!.items"
    [paginator]="true"
    [totalRecords]="tableData?.total || 0"
    [lazy]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body"
    [currentPageReportTemplate]="
      'CATALOG.TABLE.PAGINATOR.CURRENT_PAGE_REPORT'
        | translate: { first: '{first}', last: '{last}', totalRecords: '{totalRecords}' }
    "
    (onPage)="pageChange($event)"
    [customSort]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template #caption>
      <div class="flex justify-between gap-4">
        <p-button
          [label]="'CATALOG.TABLE.BUTTONS.ADD' | translate"
          [outlined]="true"
          icon="pi pi-plus"
          (click)="openItemDialog()"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="min-w-32">
          {{ 'CONTACTS.TABLE.HEADERS.NAME' | translate }}
        </th>
        <th class="min-w-32">
          {{ 'CONTACTS.TABLE.HEADERS.PHONE' | translate }}
        </th>
        <th class="min-w-32" pSortableColumn="date">
          {{ 'CATALOG.TABLE.HEADERS.DATE' | translate }}
          <p-sortIcon field="dateAdded" />
        </th>
        <th class="min-w-16"></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.dateAdded | date: 'd MM y' }}</td>
        <td>
          <p-button
            icon="pi pi-ellipsis-v"
            (click)="onActionClick($event, item); $event.stopPropagation()"
            severity="secondary"
            text
            rounded
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
