<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div
    style="
      border-radius: 56px;
      padding: 0.3rem;
      background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
    "
  >
    <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
      <div class="text-center mb-8">
        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Set New Password</div>
        <span class="text-muted-color font-medium">Enter your new password</span>
      </div>

      <form (submit)="onSubmit()" [formGroup]="form" class="md:w-[30rem]">
        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
        <p-password
          id="password1"
          formControlName="password"
          placeholder="New Password"
          [toggleMask]="true"
          styleClass="mb-2"
          [fluid]="true"
          [feedback]="false"
        ></p-password>

        @let passwordInput = form.controls['password'];
        @if (passwordInput?.invalid && passwordInput?.touched && passwordInput?.dirty) {
          <div class="text-red-500 flex flex-col mb-4 text-sm">
            @if (passwordInput?.errors?.['required']) {
              <span>Password is required.</span>
            }
            @if (passwordInput?.errors?.['minlength']) {
              <span>Password must be at least 8 characters.</span>
            }
            @if (!passwordInput?.errors?.['minlength'] && passwordInput?.errors?.['pattern']) {
              <span>Password must contain an uppercase letter, a number, and a special character.</span>
            }
          </div>
        }

        <label for="repeatPassword1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Repeat Password</label>
        <p-password
          id="repeatPassword1"
          formControlName="repeatPassword"
          placeholder="Repeat New Password"
          [toggleMask]="true"
          styleClass="mb-2"
          [fluid]="true"
          [feedback]="false"
        ></p-password>

        @let repeatPasswordInput = form.controls['repeatPassword'];
        @if (repeatPasswordInput?.invalid && repeatPasswordInput?.touched && repeatPasswordInput?.dirty) {
          <div class="text-red-500 flex flex-col mb-4 text-sm">
            @if (repeatPasswordInput?.errors?.['required']) {
              <span>Password is required.</span>
            }
            @if (repeatPasswordInput?.errors?.['minlength']) {
              <span>Password must be at least 8 characters.</span>
            }
            @if (!repeatPasswordInput?.errors?.['minlength'] && repeatPasswordInput?.errors?.['pattern']) {
              <span>Password must contain an uppercase letter, a number, and a special character.</span>
            }
            @if (repeatPasswordInput?.errors?.['fieldsMismatch']) {
              <span>Passwords do not match.</span>
            }
          </div>
        }

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
          <span class="font-medium ml-2">
            Back to 
            <a class="cursor-pointer text-primary" [routerLink]="['/auth/sign-in']">Sign in</a>
          </span>
        </div>
        <p-button label="Save" styleClass="w-full" type="submit" [disabled]="form.invalid"></p-button>
      </form>
    </div>
  </div>
</div>