@let loading = isLoading();

<div class="flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div
    style="
      border-radius: 56px;
      padding: 0.3rem;
      background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
    "
  >
    <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
      <div class="text-center mb-8">
        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
          {{ 'AUTH.SET_NEW_PASSWORD' | translate }}
        </div>
        <span class="text-muted-color font-medium">{{ 'AUTH.ENTER_YOUR_NEW_PASSWORD' | translate }}</span>
      </div>

      <form (submit)="onSubmit()" [formGroup]="form" class="md:w-[30rem]">
        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">{{
          'AUTH.PASSWORD_LABEL' | translate
        }}</label>
        <p-password
          id="password1"
          formControlName="password"
          [placeholder]="'AUTH.NEW_PASSWORD_PLACEHOLDER' | translate"
          [toggleMask]="true"
          styleClass="mb-2"
          [fluid]="true"
          [feedback]="false"
        ></p-password>

        @let passwordInput = form.controls['password'];
        @if (passwordInput?.invalid && passwordInput?.touched && passwordInput?.dirty) {
          <div class="text-red-500 flex flex-col mb-4 text-sm">
            @if (passwordInput?.errors?.['required']) {
              <span>{{ 'AUTH.PASSWORD_REQUIRED_ERROR' | translate }}</span>
            }
            @if (passwordInput?.errors?.['minlength']) {
              <span>{{ 'AUTH.PASSWORD_MINLENGTH_ERROR' | translate }}</span>
            }
            @if (!passwordInput?.errors?.['minlength'] && passwordInput?.errors?.['pattern']) {
              <span>{{ 'AUTH.PASSWORD_PATTERN_ERROR' | translate }}</span>
            }
          </div>
        }

        <label for="passwordConfirmation1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
          {{ 'AUTH.REPEAT_PASSWORD_LABEL' | translate }}
        </label>
        <p-password
          id="passwordConfirmation1"
          formControlName="passwordConfirmation"
          [placeholder]="'AUTH.REPEAT_NEW_PASSWORD_PLACEHOLDER' | translate"
          [toggleMask]="true"
          styleClass="mb-2"
          [fluid]="true"
          [feedback]="false"
        ></p-password>

        @let passwordConfirmationInput = form.controls['passwordConfirmation'];
        @if (passwordConfirmationInput?.invalid && passwordConfirmationInput?.touched && passwordConfirmationInput?.dirty) {
          <div class="text-red-500 flex flex-col mb-4 text-sm">
            @if (passwordConfirmationInput?.errors?.['required']) {
              <span>{{ 'AUTH.PASSWORD_REQUIRED_ERROR' | translate }}</span>
            }
            @if (passwordConfirmationInput?.errors?.['minlength']) {
              <span>{{ 'AUTH.PASSWORD_MINLENGTH_ERROR' | translate }}</span>
            }
            @if (!passwordConfirmationInput?.errors?.['minlength'] && passwordConfirmationInput?.errors?.['pattern']) {
              <span>{{ 'AUTH.PASSWORD_PATTERN_ERROR' | translate }}</span>
            }
            @if (passwordConfirmationInput?.errors?.['fieldsMismatch']) {
              <span>{{ 'AUTH.PASSWORD_MISMATCH_ERROR' | translate }}</span>
            }
          </div>
        }

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
          <span class="font-medium ml-2">
            {{ 'AUTH.BACK_TO_TEXT' | translate }}
            <a class="cursor-pointer text-primary" [routerLink]="['/auth/sign-in']">{{ 'AUTH.SIGN_IN' | translate }}</a>
          </span>
        </div>
        <p-button
          [label]="'ACTIONS.SAVE' | translate"
          styleClass="w-full"
          type="submit"
          [disabled]="form.invalid || !this.token"
          [loading]="loading"
        ></p-button>
      </form>
    </div>
  </div>
</div>
